* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  
  h1{
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    color: #515151;
  }
  
  button{
    height: 35px;
    width: 70px;
    background-color: rgb(160, 196, 255);
    color: #515151;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }
  
  label{
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
  }
  
  input, select{
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 2px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #515151;
  }
  ::placeholder{
    color: #515151;
  }
  
  h6{
    margin-top: 20px;
  }
  
  #option{
    color: #515151;
    font-family: 'Poppins', sans-serif;
    margin-top: 8px;
    font-size: 20px;
    margin-left: -10px;
    margin-right: 5px;
  }
  
  h4{
    margin-bottom: 5px;
  }
  