<div class="chat">
  <div class="chat_header">
    <div class="chat_header_left">
      <img src="../../../assets/img/temp_user_photo.jpg" />
    </div>
    <div class="chat_header_right">
      <div class="full-name">
        {{ groupChat.groupChatName }}
      </div>
      <div class="active-last-time">
        <p><a *ngIf="groupChat.participants.length>=3"> {{ participants }} {{groupChat.participants.length-2}} </a> </p>
      </div>
    </div>
    <div class="buttons-people">
      <button class="btn btn-info" id="see-info">See details</button>
    </div>
  </div>
  <div class="chat_content" id="chat_content">
    <div class="message" *ngFor="let message of messages">
      <div class="big_message" *ngIf="message.personId != loggedPerson.personId">
        <div class="pic">
          <img src="../../../assets/img/temp_user_photo.jpg" />
        </div>
        <div class="messages">
          <p>{{ 'sent by ' + message.person.lastName + ' at '}} {{ message.sendDate | date: 'short' }}</p>
          <div class="message_from_him">
            {{ message.message }}
          </div>
        </div>
      </div>

      <div class="big_message" *ngIf="message.personId == loggedPerson.personId">
        <div class="messages">
          <p style="float: right;">{{ message.sendDate | date: 'short' }}</p><br>
          <div class="message_from_me">
            {{ message.message }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat_send">
    <input type="text" placeholder="Type someting..." [(ngModel)]="message" (keyup.enter)="onSend()">
    <button class="btn btn-info" (click)="onSend()"> Send </button>
  </div>
</div>
