<div class="chat">
  <div class="chat_header">
    <div class="chat_header_left">
      <img [src]="groupChat.picture.url" *ngIf="groupChat.picture!=null" style="border-radius: 50%; margin: auto;"
        height="100%" width="100%" style="margin-top: 7px; margin-left: 7px;" />
      <img src="../../../assets/img/user.png" *ngIf="groupChat.picture==null" style="border-radius: 50%;" height="100%"
        width="100%" />
    </div>
    <div class="chat_header_right">
      <div class="full-name">
        {{ groupChat.groupChatName }}
      </div>
      <div class="active-last-time">
        <p><a *ngIf="groupChat.participants.length>=3"> {{ participants }} {{groupChat.participants.length-2}} </a> </p>
      </div>
    </div>
    <div class="buttons-people">
      <button class="btn btn-info" id="see-info" (click)="seeDetails(groupChat)">See details</button>
    </div>
  </div>
  <div class="chat_content" id="chat_content">
    <div class="message" *ngFor="let message of messages">
      <div class="big_message" *ngIf="message.personId != loggedPerson.personId">
        <div class="pic">
          <img class="profile" [src]="message.person.picture.url" *ngIf="message.person.picture!=null"
            style="border-radius: 50%; margin: auto;" height="100%" width="100%" style=" height: 30px;
            width: 30px;
            border-radius: 50%;" />
          <img src="../../../assets/img/user.png" *ngIf="message.person.picture==null" style="border-radius: 50%;"
            height="100%" width="100%" />
        </div>
        <div class="messages">
          <p>{{ 'sent by ' + message.person.lastName + ' at '}} {{ message.sendDate | date: 'short' }}</p>
          <div class="message_from_him">
            {{ message.message }}
          </div>
        </div>
      </div>

      <div class="big_message" *ngIf="message.personId == loggedPerson.personId">
        <div class="messages">
          <p style="float: right;">{{ message.sendDate | date: 'short' }}</p><br>
          <div class="message_from_me">
            {{ message.message }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat_send">
    <input type="text" placeholder="Type someting..." [(ngModel)]="message" (keyup.enter)="onSend()">
    <button class="btn btn-info" (click)="onSend()" [disabled]="message.length==0"> Send </button>
  </div>
</div>
