<div id="main">
  <mat-tab-group>
    <mat-tab label="Group information">
      <div class="content1"></div>
    </mat-tab>
    <mat-tab label="Tests"> <div class="content">
      <app-test></app-test>
    </div> </mat-tab>
    <mat-tab label="Meetings"> <div class="content">
      <app-meeting></app-meeting>
    </div> </mat-tab>
    <mat-tab label="Challanges"> <div class="content2"></div> </mat-tab>
    <mat-tab label="Participants"> <div class="content1"></div> </mat-tab>
    <mat-tab label="Tasks"> <div class="content2"></div> </mat-tab>
  </mat-tab-group>
</div>
