<div id="main">
  <mat-tab-group>
    <mat-tab label="Group information">
      <div class="content">
        <app-group></app-group>
      </div>
    </mat-tab>
    <mat-tab label="Tests">
      <div class="content">
        <app-test></app-test>
      </div>
    </mat-tab>
    <mat-tab label="Meetings">
      <div class="content">
        <app-meeting></app-meeting>
      </div>
    </mat-tab>
    <mat-tab label="Challanges">
      <app-challenges></app-challenges>
    </mat-tab>
    <mat-tab label="Participants">
      <div class="content">
        <app-participants></app-participants>
      </div>
    </mat-tab>
    <mat-tab label="Tasks">
      <app-task></app-task>
    </mat-tab>
  </mat-tab-group>
</div>
