<div class="dash" *ngIf="!isLoading">
  <div class="contentbox1">
    <div class="welcome">
      <div class="welcomemessage">
        <h2>
          Welcome back, {{ person.lastName }}!
        </h2>
        <h5>
          You have something new to learn
          <br> everyday!
        </h5>
      </div>
      <div class="pic">
      </div>
    </div>
  </div>
  <div class="contentbox2">
    <div class="subcontentbox2left">
      <div class="meetings">
        <div class="conteinertitle">
          <div class="title">
            <h4> Next meetings </h4>
          </div>
          <div class="button">
            <button *ngIf="meetings.length!=0" [routerLink]="[meetingsLink]" (click)="onLeaveDashboardClick()"> View All</button>
          </div>
        </div>
        <div class="meetings-content">
          <div class="statement" *ngIf="meetings.length!=0">
            <div class="meetings-place" *ngFor="let m of meetings">
              <div class="meeting-name">
                {{ m.meetingName }}<br>
                <p>With: {{m.participants}} <a *ngIf="m.allPeopleInMeeting.length>=3" (click)="seeMeeting(m.allPeopleInMeeting)"> {{ participants }} {{m.allPeopleInMeeting.length-2}} </a> </p>
              </div>
              <div class="meeting-details">
                <div class="time">
                  {{ m.meetingStartTime | date: 'medium' }}
                </div>
                <div class="link">
                  <a href="{{ m.meetingLink }}" target="_blank">Join Meeting</a>
                </div>
              </div>
            </div>
          </div>
          <p *ngIf="meetings.length==0"> You have no meetings yet!</p>
        </div>
      </div>
    </div>
    <div class="subcontentbox2right">
      <div class="calendarbox">
        <div class="titleOfMonth">
          <span> {{ calendarCreator.getMonthName(monthNumber) }} &nbsp; {{ year }} </span>
        </div>
        <div class="calendardates">
          <div class="calendar">
            <span *ngFor='let weekDay of weekDaysName' class="day">
              {{ weekDay }}
            </span>
            <span *ngFor='let day of monthDays' class="day">
              {{ day.number }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
