<div class="person_chats">
  <h5>People:</h5>
  <div class="chat_message" *ngFor="let message of allChats" (click)="onChatClick(message.chatPerson.personId)">
    <div class="pic">
      <img src="../../../assets/img/temp_user_photo.jpg"/>
    </div>
    <div class="message">
      <div class="full-name">
        {{message.chatPerson.firstName + ' ' +message.chatPerson.lastName }}
      </div>
      <div class="last-message">
        {{ message.youOrThem + ' ' +message.message }}
      </div>
    </div>
  </div>
</div>
<div class="person_chats">
  <div style="display:flex">
    <h5>Groups:</h5>
    <button class="btn btn-info" (click)="addGroup()"> Add Group </button>
  </div>
  <div class="chat_message" *ngFor="let chat of allGroupChats"  (click)="onGroupChatClick(chat.groupChat)">
    <div class="pic">
      <img src="../../../assets/img/temp_user_photo.jpg"/>
    </div>
    <div class="message">
      <div class="full-name">
        {{ chat.groupChat.groupChatName}}
      </div>
      <div class="last-message">
        {{ chat.person.lastName+': ' +chat.message }}
      </div>
    </div>
  </div>
</div>
