<div class="buttons">
  <div class="title">
    <i class="uil uil-meeting-board"></i>
    <h2>All of my meetings</h2>
  </div>
  <button class="btn btn-success" mat-button (click)="onAdd()" *ngIf="isTrainer"> Add meeting </button>
</div>

<div id="main" *ngIf="allMeetings.length!=0">
  <div class="meetings-content">
      <div class="meetings-place" *ngFor="let m of allMeetings">
        <div class="meeting-name">
          {{ m.meetingName }}<br>
          <p>With: {{m.participants}} <a *ngIf="m.allPeopleInMeeting.length>=3" (click)="seeMeeting(m.allPeopleInMeeting)"> {{ participants }} {{m.allPeopleInMeeting.length-2}} </a> </p>
        </div>
        <div class="meeting-details">
          <div class="time">
            {{ m.meetingStartTime | date:'medium'}} to {{ m.meetingFinishTime | date:'medium'}}
          </div>
          <div class="link">
            <a href="{{ m.meetingLink }}" target="_blank">Join Meeting</a>
            <a (click)="onEdit(m)">Edit Meeting</a>
            <a (click)="onDelete(m.meetingId)" id="delete">Delete Meeting</a>
          </div>
        </div>
      </div>
    </div>
</div>
<p *ngIf="allMeetings.length==0">You do not have meetings!</p>


