* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #515151;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

#main {
  width: 79%;
  height: 76vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#maingroup{
  height: 62vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.buttons,.buttonsgroup {
  height: 7vh;
  margin-bottom: 3vh;
  display: flex;
}

.buttons{
  width: 79%;
}

h2 {
  color: #515151;
  font-family: 'Poppins-Italic';
}

.title {
  height: 7vh;
  margin-bottom: 3vh;
  width: 90%;
  display: flex;
}

.title i {
  font-size: 32px;
  margin-right: 5px;
  margin-top: -5px;
  color: #515151;
}

.buttons button,.buttonsgroup button {
  float: right;
  height: 40px;
  width: 120px;
  color: white;
  border: none;
}

.meetings-content {
  width: 98%;
  height: 80%;
}

.meetings-place {
  height: 70px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  border-left: 2px solid rgb(63, 163, 235);
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  display: flex;
}


.meeting-name {
  height: 100%;
  width: 50%;
  padding-top: 15px;
  padding-left: 10px;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meeting-details {
  height: 100%;
  width: 50%;
}

.time,
.link {
  height: 50%;
  width: 100%;
  text-align: end;
  padding-right: 10px;
  font-size: 15px;
  padding-top: 5px;
}

.link a{
  color: blue;
  margin-left: 5px;
  margin-right: 5px;
}

.link a:hover{
  cursor: pointer;
  text-decoration: underline;
}

#delete{
  color: red;
}

.meeting-name P{
  font-size: 15px;
}

.meeting-name p a{
  text-decoration: underline;
}

.meeting-name p a:hover{
  text-decoration: underline;
  cursor: pointer;
}

