<h3>{{ test.testName }}</h3>
<div id="main">
  <div class="scp-quizzes-main">
    <div class="scp-quizzes-data">
      <h4>{{ actualQuestionIndex+1 }}. {{ actualQuestion.questionName }} ({{actualQuestion.points}})</h4>
      <br />
      <button type="button" class="{{opA}}" *ngIf="actualQuestion.a!=null" (click)="answer('A')">
        A. {{actualQuestion.a}}</button><br />
      <button type="button" class="{{opB}}" *ngIf="actualQuestion.b!=null" (click)="answer('B')">
        B. {{actualQuestion.b}}</button><br />
      <button type="button" class="{{opC}}" *ngIf="actualQuestion.c!=null" (click)="answer('C')">
        C. {{actualQuestion.c}}</button><br />
      <button type="button" class="{{opD}}" *ngIf="actualQuestion.d!=null" (click)="answer('D')">
        D. {{actualQuestion.d}}</button><br />
      <button type="button" class="{{opE}}" *ngIf="actualQuestion.e!=null" (click)="answer('E')">
        E. {{actualQuestion.e}}</button><br />
      <button type="button" class="{{opF}}" *ngIf="actualQuestion.f!=null" (click)="answer('F')">
        F. {{actualQuestion.f}}</button><br />
    </div>
  </div>
  <mat-dialog-actions align="center" class="down">
    <button class="btn btn-info" (click)="finishTest()"
    [hidden]="!isVisibleFinish">Finish</button>
    <button class="btn btn-info" (click)="nextQuestion()"
      [hidden]="!isVisible">Next</button>
  </mat-dialog-actions>
</div>
