<div class="chat">
  <div class="chat_header">
    <div class="chat_header_left">
      <img [src]="chatPerson.picture.url" *ngIf="chatPerson.picture!=null" style="border-radius: 50%; margin: auto;"
        height="100%" width="100%" style="margin-top: 7px; margin-left: 7px;" />
      <img src="../../../assets/img/user.png" *ngIf="chatPerson.picture==null" style="border-radius: 50%;" height="100%"
        width="100%" />
    </div>
    <div class="chat_header_right">
      <div class="full-name">
        {{ chatPerson.firstName + ' ' +chatPerson.lastName }}
      </div>
      <div class="active-last-time">
        <div class="circle" style="background-color: grey;"></div>
        Active Since 1 hour ago
      </div>
    </div>
    <div class="buttons-people" style="display: flex;">
      <button class="btn btn-info" id="see-info" (click)="onDetails()">See details</button>
      <button class="btn btn-danger" id="see-info" (click)="delete()" *ngIf="allChats.length != 0">Delete</button>
    </div>
  </div>

  <div class="chat_content" id="chat_content">
    <div class="message" *ngFor="let message of allChats">
      <div class="big_message" *ngIf="message.personSenderId!=chatPerson.personId">
        <div class="messages">
          <p style="float: right;">{{ message.sendDate | date: 'short' }}</p><br>
          <div class="message_from_me">
            {{ message.message }}
          </div>
        </div>
      </div>

      <div class="big_message" *ngIf="message.personSenderId==chatPerson.personId">
        <div class="pic">
          <img class="profile" [src]="message.personSender.picture.url" *ngIf="message.personSender.picture!=null"
            style="border-radius: 50%; margin: auto;" height="100%" width="100%" style=" height: 30px;
            width: 30px;
            border-radius: 50%;" />
          <img src="../../../assets/img/user.png" *ngIf="message.personSender.picture==null" style="border-radius: 50%;"
            height="100%" width="100%" />
        </div>
        <div class="messages">
          <p>{{ message.sendDate | date: 'short' }}</p>
          <div class="message_from_him">
            {{ message.message }}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="chat_send">
    <input type="text" placeholder="Type someting..." [(ngModel)]="message" (keyup.enter)="onSend()">
    <button class="btn btn-info" (click)="onSend()"> Send </button>
  </div>
</div>