<div class="personal" *ngIf="!isLoading">
  <div class="pic">
    <div class="picture">
      <img [src]="person.picture.url" *ngIf="person.picture!=null" style="border-radius: 50%; margin: auto;" height="100%" width="100%"/>
      <img src="../../../assets/img/user.png" *ngIf="person.picture==null" style="border-radius: 50%;" height="100%" width="100%"/>
    </div>
    <div class="name">
      <b>
        {{ person.firstName }} {{ person.lastName}}
      </b>
      <br>
      <i>
        {{ person.status }}
      </i><bR>
      <button class="btn btn-success" style="height: 40px; width: 150px; margin-top: 5px;" (click)="onChangePicture(person.personId)"> Change picture </button>
    </div>
  </div>
  <div class="infos">
    <div class="information">
      <h1>Information</h1>
      <hr>
      <h3>Email</h3>
      <br>
      <p>
        {{ person.email }}
      </p>
      <h3>Username</h3>
      <br>
      <p>
        {{ person.username }}
      </p>
      <h3>Birthdate</h3>
      <br>
      <p>
        {{ person.birthDate | date }}
      </p>
    </div>
  </div>
</div>
