<div class="personal" *ngIf="!isLoading">
  <div class="pic">
    <div class="picture">
      <img [src]="person.picture.url" *ngIf="person.picture!=null" style="border-radius: 50%; margin: auto;"
        height="100%" width="100%" />
      <img src="../../../assets/img/user.png" *ngIf="person.picture==null" style="border-radius: 50%;" height="100%"
        width="100%" />
    </div>
    <div class="name">
      <b>
        {{ person.firstName }} {{ person.lastName}}
      </b>
      <br>
      <i>
        {{ person.status }}
      </i><bR>
      <button class="btn btn-success" style="height: 40px; width: 150px; margin-top: 5px;"
        (click)="onChangePicture(person.personId)" *ngIf="canEdit"> Change picture </button>
    </div>
  </div>
  <div class="infos">
    <div class="information">
      <h1>Information</h1>
      <hr>
      <div style="display: flex;">
        <div style="width: 80%;">
          <h3>Email</h3>
          <br>
          <p>
            {{ person.email }}
          </p>
        </div>
        <div style="width: 50%;">
          <h3>Username</h3>
          <br>
          <p>
            {{ person.username }}
          </p>
        </div>
      </div>
      <div style="display: flex;">
        <div style="width: 80%;">
          <h3>Birthdate</h3>
          <br>
          <p>
            {{ person.birthDate | date }}
          </p>
        </div>
        <div style="width: 50%;">
          <h3>Karma</h3>
          <br>
          <p>
            {{ person.karma }} points
          </p>
        </div>
      </div>
      <div style="display: flex;">
        <div style="width: 80%;">
          <h3>Posts</h3>
          <br>
          <p>
            {{ person.postsNumber }} posts
          </p>
        </div>
        <div style="width: 50%;">
          <h3>Comments</h3>
          <br>
          <p>
            {{ person.commentsNumber }} comments
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<mat-spinner *ngIf="isLoading" style="background-color: transparent;"></mat-spinner>