<div class="person_chats">
  <h5>Groups:</h5>
  <div class="chat_message" *ngFor="let i of [1,2,3,4]">
    <div class="pic">
      <img src="../../../assets/img/temp_user_photo.jpg"/>
    </div>
    <div class="message">
      <div class="full-name">
        .NET Juniors
      </div>
      <div class="last-message">
        Anca: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nisi sed sapien tincidunt ultrices sed sed sapien tincidunt ultrices sed sed
      </div>
    </div>
  </div>
</div>
