* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#main{
  width: 79%;
  height: 58vh;
}

table {
  width: 250px;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

.th-center{
  text-align: center;
}
.th-left{
  text-align: left;
}
.th-right{
  text-align: right;
}
