<h1>{{ opration }} group</h1>
<mat-dialog-content class="mat-typography">
  <form #registerForm="ngForm" #regForm (ngSubmit)="onSignUpSubmit(registerForm)" autocomplete="off">
    <label for="name">Group Name</label>
    <input type="text" id="name" placeholder="Group Name" [(ngModel)]="groupData.groupName" name="groupName" required autocomplete="off">

    <label for="trainer" *ngIf="show">Trainer</label>
    <select #trainer (change)="selectOrganization(trainer.value)" id="trainer" name="trainer" size="1" *ngIf="show">
      <option *ngFor="let t of trainers" [value]="t.TrainerId">{{ t.TrainerName }}</option>
    </select>

    <label for="trainer">Description</label>
    <input type="text" id="name" placeholder="Group Description" [(ngModel)]="groupData.groupDescription" name="groupDescription" required autocomplete="off">

    <mat-dialog-actions align="center">
      <button mat-button mat-dialog-close>Cancel</button>
      <button type="submit" [disabled]="!registerForm.valid" mat-button cdkFocusInitial> {{ opration }}</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
