<div class="back">
  <div class="back-content">
    <div class="container">
      <form #logInForm="ngForm" (ngSubmit)="onLogInSubmit(logInForm)" *ngIf="isLoginMode" autocomplete="off">
      <h3>Login Here</h3>

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Email" ngModel name="email" required email >

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" ngModel name="password" required >

      <button class="btn btn-light" type="submit" [disabled]="!logInForm.valid"> Log In</button>

      <h6>Forgot password? <br><a (click)="onRecoverPassword()">Click here to recover it!</a></h6>
    </form>

    <form #logInForm="ngForm" (ngSubmit)="onForgot(logInForm)" *ngIf="isForgotPassword" autocomplete="off">
      <h3>Recover your pasword here!</h3>

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Email" ngModel name="email" required email >

      <button class="btn btn-light" type="submit" [disabled]="!logInForm.valid"> Send recover email!</button>

      <h6>Remeber password? <br><a (click)="onRememberPassword()">Go back to log in!</a></h6>
    </form>


    <form #logInForm="ngForm" (ngSubmit)="onRecover(logInForm)" *ngIf="isRecoverPassword" autocomplete="off">
      <h3>Change your password here!</h3>

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" ngModel name="password" required >

      <label for="password">Retype password</label>
      <input type="password" id="passwordrepeat" placeholder="Retype password" ngModel name="retypepassword" required >

      <button class="btn btn-light" type="submit" [disabled]="!logInForm.valid"> Change password</button>

      <h6><br><a (click)="onGoBack()">Go back to log in!</a></h6>
    </form>
  </div>
  </div>
</div>
