<div class="back">
  <div class="back-content">
    <div class="container">
      <form #logInForm="ngForm" (ngSubmit)="onLogInSubmit(logInForm)" *ngIf="isLoginMode">
      <h3>Login Here</h3>

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Email" ngModel name="email" required email autocomplete="off">

      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Password" ngModel name="password" required autocomplete="off">

      <button class="btn btn-light" type="submit" [disabled]="!logInForm.valid"> Log In</button>

      <h6>Don't have an account? <br><a (click)="onSwitchMode(logInForm)">Register Here!</a></h6>
    </form>

    <form #registerForm="ngForm" (ngSubmit)="onSignUpSubmit(registerForm)" *ngIf="!isLoginMode">
      <h3>Sing Up Here</h3>

      <div class="names">
        <div class="fname">
          <label for="fNAme">First Name</label>
          <input type="text" id="fName" placeholder="First Name" ngModel name="fName" required autocomplete="off">
        </div>
        <div class="space">
        </div>
        <div class="fname">
          <label for="lName">Last Name</label>
          <input type="text" id="lName" placeholder="Last Name" ngModel name="lName" required autocomplete="off">
        </div>
      </div>

      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Email" ngModel name="email" required pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$">

      <label for="username">Username</label>
      <input type="username" id="username" placeholder="Username" ngModel name="username" required pattern="^[A-Za-z0-9]*$" >
      <p class="info">Username must have only letters and digits</p>

      <div class="names">
        <div class="fname">
          <label for="Password">Password</label>
          <input type="password" id="password" placeholder="Password" ngModel name="password" minlength="8" required autocomplete="off">
        </div>
        <div class="space">
        </div>
        <div class="fname">
          <label for="BirthDate">Birth Date</label>
          <input type="date" id="BirthDate" placeholder="BirthDate" ngModel name="birthDate" required autocomplete="off">
        </div>
      </div>

      <button class="btn btn-light" type="submit" [disabled]="!registerForm.valid"> Sign Up In</button>

      <h6 class="register">Already have an account <br><a (click)="onSwitchMode(registerForm)">Log In Here!</a></h6>
    </form>
  </div>
  </div>
</div>
