<div id="main">
  <div class="person">
    <div class="person_header">
      <div class="search-box">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Search here...">
      </div>
    </div>
    <div class="all-messages">
      <app-all-chats></app-all-chats>
    </div>
  </div>
  <div class="chats_message">
    <p *ngIf="haveChat==-1">Select a chat to start!</p>
    <app-chat-messages *ngIf="haveChat==1"></app-chat-messages>
    <app-group-chat-message *ngIf="haveChat==2"></app-group-chat-message>
  </div>
</div>
