<div id="main">
  <div class="person">
    <div class="person_header">
      <div class="search-box">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Search here...">
      </div>
    </div>
    <div class="all-messages">
      <div class="people">
        <app-list-of-people-chat></app-list-of-people-chat>
      </div>
      <div class="groups">
        <app-list-of-groups-chat></app-list-of-groups-chat>
      </div>
    </div>
  </div>
  <p *ngIf="!haveChat">Select a chat to start!</p>
  <app-chat-messages *ngIf="haveChat"></app-chat-messages>
</div>
