<div id="main">
  <div class="person">
    <div class="person_header">
      <div class="search-box">
        <i class="uil uil-search"></i>
        <input type="text" placeholder="Search here...">
      </div>
    </div>
    <div class="person_chats">
      <div class="chat_message" *ngFor="let i of [1,2,3,4,5,6,7,8,9]">
        <div class="pic">
          <img src="../../../assets/img/temp_user_photo.jpg"/>
        </div>
        <div class="message">
          <div class="full-name">
            Popescu Mihai
          </div>
          <div class="last-message">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed nisi sed sapien tincidunt ultrices sed sed sapien tincidunt ultrices sed sed
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-chat-messages></app-chat-messages>
</div>
