<div id="main">
    <div style="display: flex;">
        <div style="display: flex; height: 10%; width:100%;">
            <i class="uil uil-clipboard-notes" style="font-size: 35px; margin-top: -7px;"></i>
            <h2>Announcements</h2>
        </div>
        <button class="btn btn-success" id="add" (click)="onAdd()">Add note</button>
    </div>
    <div class="announcements">
        <div class="row">
            <div class="announcement" *ngFor="let note of notes">
                <div class="pic">
                    <img src="../../../assets/img/temp_user_photo.jpg" class="picture" />
                </div>
                <div class="note-title">
                    <h4 *ngIf="username != note.person.username"> {{ note.noteTitle }}</h4>
                    <h4 *ngIf="username == note.person.username" class="title-click" (click)="onEdit(note)"> {{ note.noteTitle }}</h4>
                </div>
                <div class="note-body">
                    <p>
                        {{ note.noteBody }}
                    </p>
                </div>
                <div class="footer">
                    created by {{ note.person.username }} at {{ note.postingDate | date:'medium' }}<br>
                    <div *ngIf="username == note.person.username" class="title-click" (click)="onDelete(note)">
                        delete note
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>