* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.dash {
  width: 79%;
  height: 85vh;
}

.contentbox1,
.contentbox2 {
  width: 100%;
  height: 49%;
  display: flex;
}

.contentbox1 {
  margin-bottom: 0.5%;
}

.contentbox2 {
  margin-top: 0.5%;
}

.subcontentbox1left {
  height: 100%;
  width: 70%;
  background-color: orange;
}

.subcontentbox1right {
  height: 100%;
  width: 30%;
}

.subcontentbox2left {
  height: 100%;
  width: 60%;
}

.subcontentbox2right {
  height: 100%;
  width: 40%;
}

.feedback,
.meeting {
  width: 96%;
  height: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 2%;
  border-radius: 10px;
  background-color: #d0d0d3;
  border: 2px solid #EFEEF1;
}

.meetings {
  width: 98%;
  height: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  border-radius: 10px;
  background-color: #dcdcdc;
  border: 2px solid #EFEEF1;
}

.conteinertitle {
  display: flex;
  height: 18%;
}

.title {
  width: 60%;
}

.button {
  width: 40%;
  text-align: end;
}

.button button {
  margin-top: 5px;
  margin-right: 10px;
  color: black;
  height: 35px;
  width: 85px;
  border-radius: 10px;
  background-color: #EFEEF1;
  border: none;
  cursor: pointer;
}

.button button:hover {
  background-color: rgb(53, 53, 53);
  color: #EFEEF1;
  transition: .5s;
}

.title h4 {
  margin-top: 10px;
  margin-left: 10px;
  color: #515151;
}

.feedback-content,
.meetings-content {
  width: 100%;
  height: 80%;
}


.feedback-place,
.meetings-place {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  display: flex;
}

.feedback-place {
  height: 63px;
}

.meetings-place {
  height: 55px;
  background-color: white;
  border-radius: 10px;
  border-left: 2px solid rgb(63, 163, 235);
}

.pictureOfTrainer {
  width: 52px;
  height: 52px;
  background-image: url('../../../../img/temp_user_photo.jpg');
  background-size: cover;
  border-radius: 26px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 10px;
}

.feedback-message {
  width: 80%;
  height: 95%;
}

.trainer-name {
  font-size: 10px;
}

.message {
  width: 100%;
  height: 55%;
  line-height: 1.2;
  color: black;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.date {
  width: 100%;
  height: 40%;
  font-size: 10px;
}

.feedback-content p {
  text-align: center;
  margin-top: 20%;
}

.meeting-name {
  height: 100%;
  width: 65%;
  padding-top: 15px;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.meeting-details {
  height: 100%;
  width: 35%;
}

.time,
.link {
  height: 50%;
  width: 100%;
  text-align: end;
  padding-right: 10px;
  font-size: 12px;
  padding-top: 5px;
}

.calendarbox{
  width: 92%;
  height: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 4%;
  margin-left: 4%;
  border-radius: 10px;
  background-color: rgb(207, 217, 234);
  border: 2px solid #EFEEF1;
  color: #515151;

}

.calendar, .calendardates {
  width: 210px;
  font-size: 15px;
}

.calendardates{
  margin-left: 45px;
}

.titleOfMonth{
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.day {
  width: 30px;
  display: inline-block;
  text-align: center;
}
