<div class="dash">
  <div class="contentbox1">
    <div class="subcontentbox1left"></div>
    <div class="subcontentbox1right">
    </div>
  </div>
  <div class="contentbox2">
    <div class="subcontentbox2left"></div>
    <div class="subcontentbox2right">
      <div class="feedback">
        <div class="feedbacktitle">
          <div class="title">
            <h4> Trainer's feedback </h4>
          </div>
          <div class="button">
              <button *ngIf="hasFeedback" [routerLink]="[feedbackLink]" (click)="onfeedbackclick()"> View All</button>
          </div>
        </div>
        <div class="feedback-content">
          <div class="statement" *ngIf="hasFeedback==true">
            <div class="feedback-place" *ngFor="let f of feedback">
              <div class="pictureOfTrainer"></div>
              <div class="feedback-message">
                <div class="message">
                  {{ f.feedback }}
                </div>
                <div class="date">
                  {{ f.date }}
                </div>
              </div>
            </div>
          </div>
          <p *ngIf="!hasFeedback"> You have no feedback yet!</p>
        </div>
      </div>
    </div>
  </div>
</div>
