<nav>
  <ul>
    <li class="logo"><img alt="" src="https://i.postimg.cc/WzkCM20g/logo1.png"></li>
    <p>Hey {{loggedPersonUsername}}!</p>
    <li>
      <a href="#"><i class="fa fa-home"></i> home</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-book"></i> about</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-users"></i> Team</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-picture-o"></i> portfolio</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-phone"></i> contact</a>
    </li>
  </ul>
</nav>
