<head>
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<nav>
  <div class="logo-name">
    <div class="logo"></div>
    <span class="logo_name">InternHub</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links" >
      <li *ngFor="let button of buttons" (click)="onLeaveDashBoard(button.name)"><a>
        <i class="{{ button.logo }}"></i>
        <span class="link-name">{{ button.name }}</span>
      </a></li>
    </ul>

    <ul class="logout-mode">
      <li><a href="#">
          <i class="uil uil-signout"></i>
          <span class="link-name">Logout</span>
        </a></li>
    </ul>
  </div>
</nav>
