<div class="sidebar">
  <div class="logo_content">
    <div class="logo">
      <i class="bx bxl-c-pls-pls">
        <div class="logo-name">Your company</div>
      </i>
    </div>
  </div>
  <ul class="nav_list">
    <li>
      <a href="#">
        <div class="imgicon"></div>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgicon"></div>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgicon"></div>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgicon"></div>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgicon"></div>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="imgicon"></div>
        <span class="links_name">Dashboard</span>
      </a>
    </li>
  </ul>
</div>
