<div class="dash">
  <div class="dash-content">
    <div class="overview">
      <div class="title">
        <i class="uil uil-tachometer-fast-alt"></i>
        <span class="text">Dashboard</span>
      </div>
      <div class="boxes">
        <div class="box box1">
          <i class="uil uil-user"></i>
          <span class="text">Trainers</span>
          <span class="number">{{ trainersNumber }}</span>
        </div>
        <div class="box box2">
          <i class="uil uil-book-reader"></i>
          <span class="text">Interns</span>
          <span class="number">{{ internsNumber }}</span>
        </div>
        <div class="box box3">
          <i class="uil uil-users-alt"></i>
          <span class="text">Groups</span>
          <span class="number">{{ groupsNumber }}</span>
        </div>
      </div>
    </div>

    <div class="activity">
      <div class="title">
        <i class="uil uil-clock-three"></i>
        <span class="text">Recent Activity</span>
      </div>
      <div class="activity-content">
        <H2>Comming soon...</H2>
      </div>
    </div>
  </div>
</div>
