<div class="dash">
  <div class="contentbox1">
    <div class="welcome">
      <div class="welcomemessage">
        <h2>
          Welcome back, {{ person.lastName }}!
        </h2>
        <h5>
          You have something new to learn
          <br> everyday!
        </h5>
      </div>
      <div class="pic">
      </div>
    </div>
  </div>
  <div class="dash-content">
    <div class="overview">
      <div class="boxes">
        <div class="box box1">
          <i class="uil uil-user"></i>
          <span class="text">Trainers</span>
          <span class="number">{{ trainersNumber }}</span>
        </div>
        <div class="box box2">
          <i class="uil uil-book-reader"></i>
          <span class="text">Interns</span>
          <span class="number">{{ internsNumber }}</span>
        </div>
        <div class="box box3">
          <i class="uil uil-users-alt"></i>
          <span class="text">Groups</span>
          <span class="number">{{ groupsNumber }}</span>
        </div>
      </div>
    </div>

    <div class="activity">
    </div>
  </div>
</div>
