<router-outlet></router-outlet>
<div [id]="mainId" *ngIf="isOnChallanges">
    <div style="display: flex;">
        <div style="display: flex; height: 10%; width:20%;">
            <i class="uil uil-brackets-curly" style="font-size: 35px; margin-top: -7px;"></i>
            <h2>Challenges</h2>
        </div>
        <div class="text"
        style="height:50px; width: 60%; margin-left: 10px;margin-right: 15px;">
        <h3 *ngIf="isIntern" style="text-align: center; margin-top: 7px;">
         {{text}}
        </h3>
        </div>
        <button class="btn btn-success" id="add" *ngIf="canAddEdit"(click)="onAdd()">Add challenge</button>
        <button class="btn btn-success" id="add" (click)="onRanking()" *ngIf="isFromGroup==false" routerLink="ranking">Rankings</button>
    </div>
    <div class="challenges" *ngIf="challenges.length!=0">
        <div class="row">
            <div [class]="challengeClass" *ngFor="let challenge of challenges">
                <div class="challenge-title">
                    <h4 *ngIf="!canAddEdit || !challenge.canDelete"> {{ challenge.challangeName }}</h4>
                    <h4 *ngIf="canAddEdit && challenge.canDelete" class="title-click" (click)="onEdit(challenge)"> {{ challenge.challangeName }}</h4>
                </div>
                <div class="info" style="display: flex;">
                    <div class="deadline" style="text-align: center; width: 75%;">
                        <h6 style="font-weight: bold;"> Deadline:<br> {{ challenge.deadline | date:'medium' }}</h6>
                    </div>
                    <div class="points" style="text-align: center; width: 25%;">
                        <h6 style="font-weight: bold; text-align: center;"> Points:<br> {{ challenge.points }}</h6>
                    </div>
                </div>
                <div class="challenge-body">
                    <h6 style="margin-top: 5px; font-weight: bold;"> Requirement:  </h6>
                    <p style="padding-left: 2px; padding-right: 2px">
                        {{ challenge.challangeDescription }}
                    </p>
                </div>
                <div class="footer">
                    {{ challenge.trainer.username }} at {{ challenge.dateOfPost | date:'medium' }}<br>
                    <div style="display: flex;">
                        <button class="btn btn-success" *ngIf="!canAddEdit" id="sol-btn" (click)="onSeeAllSolutions(challenge)">See solution</button>
                        <button class="btn btn-success" *ngIf="!canAddEdit && challenge.canDelete && challenge.canAddSolution" id="sol-btn" (click)="onPostSolution(challenge)">Post solution</button>
                        <button class="btn btn-success" *ngIf="canAddEdit" id="sol-btn" (click)="onSeeAllSolutions(challenge)">See all solutions</button>
                        <button class="btn btn-danger" *ngIf="canAddEdit && challenge.canDelete" id="sol-btn" (click)="onDelete(challenge)">Delete</button>
                        <p style="color: green; font-size: large;"  *ngIf="!canAddEdit && challenge.canDelete && challenge.canAddSolution == false " id="sol-btn">Approved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p *ngIf="challenges.length==0"> There are no challenges! </p>

</div>