<div class="buttons">
  <div class="title">
    <i class="uil uil-question-circle"></i>
    <h2>All of your questions</h2>
  </div>
  <button class="btn btn-primary" mat-button (click)="onAdd()"> Add question </button>
</div>

<div id="main" *ngIf="questions!=null">
  <mat-accordion >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         class="question"
                         *ngFor="let q of questions; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ i + 1 }}. {{ q.questionName }} ({{q.points}}p)
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="answer" *ngIf="q.a!=null" [ngStyle]="{'background-color': q.correctOption=='A'? 'rgb(119, 250, 107)' : 'rgb(255, 119, 119)'}">
          <h3>A</h3>
          <p>{{ q.a }}</p>
        </div>
        <div class="answer" *ngIf="q.c!=null" [ngStyle]="{'background-color': q.correctOption=='B'? 'rgb(119, 250, 107)' : 'rgb(255, 119, 119)'}">
          <h3>C</h3>
          <p>{{ q.c }}</p>
        </div>
        <div class="answer" *ngIf="q.e!=null" [ngStyle]="{'background-color': q.correctOption=='E'? 'rgb(119, 250, 107)' : 'rgb(255, 119, 119)'}">
          <h3>E</h3>
          <p>{{ q.e }}</p>
        </div>
      </div>
      <div class="row">
        <div class="answer" *ngIf="q.b!=null" [ngStyle]="{'background-color': q.correctOption=='B'? 'rgb(119, 250, 107)' : 'rgb(255, 119, 119)'}">
          <h3>B</h3>
          <p>{{ q.b }}</p>
        </div>
        <div class="answer" *ngIf="q.d!=null" [ngStyle]="{'background-color': q.correctOption=='D'? 'rgb(119, 250, 107)' : 'rgb(255, 119, 119)'}">
          <h3>D</h3>
          <p>{{ q.d }}</p>
        </div>
        <div class="answer" *ngIf="q.f!=null" [ngStyle]="{'background-color': q.correctOption=='F'? 'rgb(119, 250, 107)' : 'rgb(255, 119, 119)'}">
          <h3>F</h3>
          <p>{{ q.f }}</p>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>
<p *ngIf="questions==null">You do not have questions!</p>
