<div class="buttons">
  <div class="title">
    <i class="uil uil-question-circle"></i>
    <h2>All of my tests</h2>
  </div>
  <button class="btn btn-success" mat-button (click)="onAdd()" *ngIf="isTrainer"> Add test </button>
</div>

<div id="main" *ngIf="tests.length!=0">
  <div class="row">
    <div id="test" *ngFor="let t of tests">
      <div class="question" *ngIf="isTrainer">
        <a (click)="onSeeTest(t)" >
        {{ t.testName }}
        <h5>{{t.deadline | date}}</h5>
        </a>
      </div>
      <div class="question" *ngIf="!isTrainer">
        {{ t.testName }}
      </div>
      <div class="infos">
        <div class="questions">
          <div class="number">{{ t.questions.length }}</div>
          <div class="content">questions</div>
        </div>
        <div class="points">
          <div class="number">{{ t.points }}</div>
          <div class="content">points</div>
        </div>
      </div>
      <div class="button" *ngIf="isTrainer && t.isOverDeadline==false" align="center">
        <button class="btn-success" *ngIf="t.canBeEdited" (click)="publishTest(t.testId)">Publish</button>
        <button class="btn-success" *ngIf="!t.canBeEdited" (click)="addInterns(t)">Add interns</button>
        <button class="btn-success" *ngIf="!t.canBeEdited" (click)="addGroups(t)">Add groups</button>
        <button class="btn-info" *ngIf="t.canBeEdited" (click)="edittest(t)" >Edit</button>
        <button class="btn-danger" *ngIf="t.canBeEdited" (click)="deletetest(t.testId)">Delete</button>
      </div>

      <div class="oneButton"  *ngIf="isTrainer && t.isOverDeadline==true" align="center">
        <button class="btn-info" (click)="seeAllResults(t)">See results</button>
      </div>

      <div class="buttonIntern"  *ngIf="!isTrainer" align="center">
        <button class="btn-info" (click)="startTest(t)" *ngIf="t.isTaken==false && t.isOverDeadline==false">Start Test</button>
        <button class="btn-success" (click)="seeResults(t)" *ngIf="t.isTaken==true">See results</button>
        <p *ngIf="t.isTaken==false && t.isOverDeadline"> You donn't have atemps yet!</p>
      </div>
    </div>
   </div>

</div>
<p *ngIf="tests.length==0">You do not have tests!</p>
