<div [class]="buttonsClass">
  <div class="title">
    <i class="uil uil-question-circle"></i>
    <h2>All of my tests</h2>
  </div>
  <button class="btn btn-success" mat-button (click)="onAdd()" *ngIf="isTrainer && isFromGroup==false"> Add test </button>
</div>

<div [id]="mainId" *ngIf="tests.length!=0">
  <div class="row">
    <div id="test" *ngFor="let t of tests">
      <div class="question">
        <a (click)="onSeeTest(t)">
        {{ t.testName }}
        <p>Deadline: {{t.deadline | date}}</p>
        </a>
      </div>
      <div class="infos">
        <div class="questions">
          <div class="number">{{ t.questions.length }}</div>
          <div class="content">questions</div>
        </div>
        <div class="points">
          <div class="number">{{ t.points }}</div>
          <div class="content">points</div>
        </div>
      </div>
      <div class="button"  *ngIf="isTrainer" align="center">
        <button class="btn-success" *ngIf="t.canBeEdited" (click)="publishTest(t.testId)">Publish</button>
        <button class="btn-success" *ngIf="!t.canBeEdited" (click)="addInterns(t)">Add interns</button>
        <button class="btn-success" *ngIf="!t.canBeEdited" (click)="addGroups(t)">Add groups</button>
        <button class="btn-info" *ngIf="t.canBeEdited" (click)="edittest(t)" >Edit</button>
        <button class="btn-danger" (click)="deletetest(t.testId)">Delete</button>
      </div>

      <div class="buttonIntern"  *ngIf="!isTrainer">
        <button class="btn-success" >Start Test</button>
      </div>
    </div>
   </div>

</div>
<p *ngIf="tests.length==0">You do not have tests!</p>
