<div id="main">
  <div class="picture">
    <div class="pic">
      <img [src]="imageDataUrl"
      style="height: 130px; width: 130px; z-index: -1"/>
    </div>
    <div class="name">{{group.groupName}}</div>
    <div class="edit" (click)="edit()">
      <img src="../../../../../assets/img/edit_pen.png" height="22px" width="22px" style="margin-top: 7px; margin-left: 7px;"/>
    </div>
    <button class="btn btn-info" id="edit" *ngIf="canEdit" (click)="editGroup(group)">Edit</button>
  </div>
  <div class="informations">
    <div class="description">
      <label for="trainer">Description</label>
      <div class="description_group">
        {{group.description}}
      </div>
    </div>
    <div class="trainer">
      <div class="row">
        <div class="answer">
          <div class="info">
            <label for="trainer">First Name</label>
            <input type="text" id="trainer" name="trainer" readonly [value]="person.firstName" required
              autocomplete="off">
          </div>
        </div>
        <div class="answer">
          <div class="info">
            <label for="trainer">Last Name</label>
            <input type="text" id="trainer" name="trainer" readonly [value]="person.lastName" required
              autocomplete="off">
          </div>
        </div>
        <div class="answer">
          <div class="info">
            <label for="trainer">Username</label>
            <input type="text" id="trainer" name="trainer" readonly [value]="person.username" required
              autocomplete="off">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="answer">
          <div class="info">
            <label for="trainer">Email</label>
            <input type="text" id="trainer" name="trainer" readonly [value]="person.email" required autocomplete="off">
          </div>
        </div>
        <div class="answer">
          <div class="info">
            <label for="trainer">Birthdate</label>
            <input type="text" id="trainer" name="trainer" readonly [value]="person.birthDate | date" required
              autocomplete="off">
          </div>
        </div>
        <div class="answer">
          <div class="info">
            <label for="trainer">Status</label>
            <input type="text" id="trainer" name="trainer" readonly [value]="person.status" required autocomplete="off">
          </div>
        </div>
      </div>
    </div>
    <div class="group_info">
      <div class="participants">
        <label for="trainer">Participats</label>
        <input type="text" id="trainer" name="trainer" readonly [value]="participants" required autocomplete="off">
      </div>
      <div class="tests">
        <label for="trainer">Tests</label>
        <input type="text" id="trainer" name="trainer" readonly [value]="tests" required autocomplete="off">
      </div>
    </div>
    <div class="group_info">
      <div class="tasks">
        <label for="trainer">Tasks</label>
        <input type="text" id="trainer" name="trainer" readonly [value]="tasks" required autocomplete="off">
      </div>
      <div class="challanges">
        <label for="trainer">Challanges</label>
        <input type="text" id="trainer" name="trainer" readonly [value]="challanges" required autocomplete="off">
      </div>
    </div>
  </div>
</div>
